@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "Gotham Book";
  src: url("./assets/GothamSSm-Book_Web.woff2");
}

* {
  font-family: "Gotham Book", "Poppins", sans-serif;
  
 .logo {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .3rem;
  text-transform: uppercase;
  text-decoration: none;
  width: 120px;
  height: 30px;
  cursor: pointer;
  filter: brightness(0) invert(1);
  font-family: "Poppins";
}


